/* section 1 :  Navigation bar */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* section 2 : banner  */
#home{
    height: 280px;
    padding: 0px 28px;
}
#home::before{
    
    height: 370px;
}
#home p{
    font-size: 13px;
}
#home .btn{
    padding: 2px 7px;
    font-size: 1.1rem;
}
/* Section 3 : services */
#services{
    flex-direction: column;
}
#services .box{
    padding : 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}

/* section 4 : client section  */
#clients{
    flex-wrap: wrap;
}
#clients img{
    height: auto;
    padding: 6px;
    width: 66px;
}

/* section 5 : contact form  */
#contact-box form{
    width: 80%;
}

/* utility classes */
.h-primary{
    font-size: 26px;
}